.image {
  width: 300px;
  height: 400px;
  object-fit: cover;
  border-radius:10px;
  position: relative;

}
.image:hover{

  opacity: 0.6;
transition: all 0.6s ease-in-out;


}

.name {
  font-weight: bold;
  margin: 40px 0px;
  color: white;
  position: absolute;

}

.species {
  font-style: italic;
  margin: 15px 0px;
  color: white;
  position: absolute;
}
.id {
  font-style: italic;
  margin: 55px 0px;
  color: white;
  position: absolute;
}

.card{
  display:flex;
  flex-direction: column;
  align-items: center;
  background-color:#000000;
  width: 300px;
  border-radius:15px;
  overflow: hidden;
  background: black;


}

.card:hover{
  box-shadow: 3px 0px 29px -11px rgba(0,0,0,0.56);
  transition: all 0.5s;
}

 .card_button{
  color: white;
  
  font-family: "Bakbak One", cursive;
  padding: 10px 20px;
  border: white solid 1px;
  background-color: transparent;
  }
  .card_button:hover{
      color: rgb(76, 145, 149);
    background-color: white;
    cursor: pointer;
  }
.buttons{
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  margin:300px;
}
